* {
  font-family: 'Roboto Slab', serif;
}

.weather-forecast {
  width: 70%;
  float: left;
  border: 2px solid blue;
}

.hourly-forecast {
  width: 30%;
  float: right;
  border: 2px solid green;
}

footer {
  clear: both;
}
