* {
  font-family: 'Roboto Slab', serif;
}

.weather-forecast {
  width: 50%;
  float: left;
  border: 2px solid blue;
}

.current-weather, .today-high-low {
  display: inline-block;
}

.minutely-forecast {
  width: 20%;
  float: left;
  border: 2px solid yellow;
}

.hourly-forecast {
  width: 30%;
  float: right;
  border: 2px solid green;
}

footer {
  clear: both;
  text-align: center;
}
